div.criminalDetails
	.image
		a(href=dir_host +'/static/criminal/'+ criminal._id +'/?type=general', target='_blank')
			img(src=dir_host +'/static/criminal/'+ criminal._id +'/?type=general', alt='Zdjecie osoby')
		br
		br
		a(href=dir_host + '/criminals/edit/'+ criminal._id) Zmień dane
	table.details
		tr
			td Imię
			td #{criminal.firstname}
		tr
			td Nazwisko
			td #{criminal.lastname}
		tr
			td Data urodzenia
			td #{criminal.date_of_birth}
		tr
			td Zdjęcie tęczówki oka
			if exist_iris
				td 
					a(href=dir_host +'/static/criminal/'+ criminal._id +'/?type=iris', target='_blank')
						img.imageIris(src=dir_host +'/static/criminal/'+ criminal._id +'/?type=iris', alt='Zdjecie tęczówki oka')
			else 
				td Brak
		tr
			td Wzrost
			td #{criminal.height}
		tr
			td Kolor oczu
			td #{criminal.eye_color}
		tr
			td Ostatni adres zameldowania
			td #{criminal.last_address}
		tr
			td Cechy rysopisowe
			td #{criminal.characteristics}
		tr
			td Imiona rodziców
			td #{criminal.parents_name}
		tr
			td Wysokość kary
			td #{criminal.prison_sentence}
		tr
			td Treść kary
			td #{criminal.content_penalty}
		tr
			td Inne informacje
			td #{criminal.others}
	.clear